.main-container {
}

.testimonial_slider {
  width: 600px;
  height: 175px;
  padding: 10px;
  border: 3px solid #000000;
}

.testimonial_slide {
}

.testimonial_slide .author_foto {
  width: 146px;
  height: 146px;
  background: url("../img/author_logo.png") 0 0 no-repeat;
  float: left;
  position: relative;
  margin-top: 5px;
  margin-left: 5px;

  border: 2px solid #DDDDDD;
  border-radius: 50%;
  box-shadow: 1px 3px 10px 1px #000000;
}

.testimonial_slide .message {
  width: 430px;
  float: left;
  position: relative;
  padding: 35px 0px 0px 5px;
}

.testimonial_slide .message .text {
  position: relative;
}

.testimonial_slide .message .quote {
  width: 22px;
  height: 17px;
  background: url("../img/quote.png") 0 0 no-repeat;

  float: left;
  position: relative;
  margin-left: 20px;
  margin-right: 5px;
}

.testimonial_slide .message .quote_inverted {
  width: 22px;
  height: 17px;
  background: url("../img/quote_inverted.png") 0 0 no-repeat;

  float: left;
  position: relative;
  margin-left: 400px;
}

.testimonial_slide .message .author_signature {
  padding: 5px 5px 5px 300px;
}
