$slide-width: $base-width - $main-container-margin * 2;
$avatar-width: 150px;

.testimonial_slide {
  width: $slide-width;
  min-width: $slide-width;
  float: left;
  .content {
    width: 100%;
    height: 100%;
    float: left;
    .text {
      width: $slide-width - $avatar-width;
      margin-top: $slide-width / 10;
      float: left;
      .quote {
        padding-right: 15px;
        float: left;
        .quotation_mark {
          width: 22px;
          height: 17px;
          img {
            background-position-x: initial;
            background-position-y: initial;
            background-size: initial;
            background-repeat-x: no-repeat;
            background-repeat-y: no-repeat;
            background-attachment: initial;
            background-origin: initial;
            background-clip: initial;
            background-color: initial;
          }
        }
        .quotation_mark.left {
          float: left;
          margin-right: 2px;
          margin-top: -6px;
        }
        .quotation_mark.right {
          float: right;
          margin-top: 7px;
          margin-right: 5px;
        }
      }
      .signature {
        float: right;
        position: relative;
        right: 34px;
      }
    }
    .avatar {
      width: $avatar-width;
      float: left;
      .block {
        min-height: $avatar-width;
        text-align: center;
        .author {
          width: 146px;
          height: 146px;
          min-height: 146px;
          min-width: 146px;
          display: -moz-inline-box;
          display: inline-block;
          vertical-align: middle;
          zoom: 1;
          img {
            max-width: 146px;
            max-height: 146px;
            height: auto;
            width: auto;
            @extend  .border-radius-wrapper;
          }
        }
        .helper {
          width: 0px;
          height: 100%;
          display: -moz-inline-box;
          display: inline-block;
          vertical-align: middle;
          zoom: 1;
        }
      }
    }
  }
}
